* {
  box-sizing: border-box;
  color: navy;
  background-color: lightblue;
  font-size: 1em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 13px;
}

#container {
  width: 95%;
  margin: auto;
}

a {
  font-size: 1.75em;
  line-height: 2em;
}

strong {
  margin-left: 5px;
  margin-right: 5px;
}
